@using System.Linq
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div style="text-align: center; vertical-align: middle;">
        <h1>Today : @DateTime.Now.ToString("dd.MM.yyyy")</h1>
    </div>
        <div>
            <input id="date-field" type="date" name="date" min="2012-06-04"
                   max=@DateTime.Now.ToString("yyyy-MM-dd") value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        </div>
        <div>
            <div>
                1
                <select id="currency-name" name="currency">
                </select> = <b id="text-field"></b> UAH
            </div>
        </div>
<script src="~/js/site.js"></script>
</div>


