@model List<ExchangeRate>
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div style="text-align: center; vertical-align: middle;">
        <h1>Today : @DateTime.Now.ToString("dd.MM.yyyy")</h1>
    </div>
    <form method="post">
        <div>
            <input type="date" name="date" min="2012-06-04"
                   max=@DateTime.Now.ToString("yyyy-MM-dd") value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <select id="currencyName" name="currency">
                @foreach (var item in Model)
                {
                    <option value="@item.ShortName">@item.FullName</option>
                }
            </select>

            <input type="submit" value="Send" name="CurrencyName" />

        </div>
    </form>

</div>

