<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="localDbString" connectionString="Data Source = TWINGO; Initial Catalog = TestDb;Integrated Security = True; Connect Timeout = 30; Encrypt = False;TrustServerCertificate = False; ApplicationIntent = ReadWrite; MultiSubnetFailover = False"/>
	</connectionStrings>
	<appSettings>
		<add   key="ApiUrl" value="https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?date="/>
	</appSettings>
</configuration>